body {
  margin: 0;
}

.container {
margin: 0 auto;
 
}
#info {
	position: absolute;
  font-family:'Courier New', Courier, monospace;
  font-size: 32px;
  font-weight: bold;
	top: 200px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
