@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100;200&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background-color: #9dedf5;
}

#info {
  position: absolute;
  font-weight: bold;
  top: 140px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

#message {
  position: absolute;
  font-weight: bold;
  top: 640px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

@media only screen and (max-width: 414px) {
  #message {
    top: 700px;
  }
}
